.container-cus{ 
  font-size: 150%; 
  font-style: normal;
  padding-top: 3%;
  margin-left: .2ch;

}
.container-cusone{
  background-color: rgb(241, 108, 31);
  font-size: 150%; 
  font-style: normal;
}
.carousel-cus{
  padding-top: 3%;
  width: 35%;
  margin-left: 3%;
  width: 35%;

}
 .navbar-brand-a{
  font-size: 100%;
  width: 200px;
}
.navbar-brand-b{
  font-size: 100%;
  width: 200px;
}
.navbar-brand-c{
  font-size: 100%;
  width: 200px;
}
.navbar-brand-d{
  font-size: 100%;
  width: 200px;
}
  .button-cus{
    color: rgb(12, 12, 12);    
}
.search-cus{
  padding-top: 4%;
  padding-bottom: 4%;
} 
  body{
    background: #7698ba;
  }
  .card-cus {
  position: relative;
  margin-top: .001in;
  width: 20rem; 
  height: .12rem;
}
.col{  
  margin-left: 110px;
  margin-right: 110px;
}
.paragraph {
margin-left: 15in;
width: 1000px;
margin-top: -66%;
font-size: 150%;
}